services:
  postgres:
    image: postgres:14
    container_name: postgres
    environment:
      POSTGRES_USER: user123
      POSTGRES_PASSWORD: pass123
      PGDATA: /data/postgres
    ports:
      - "5432:5432"
    volumes:
      - postgres_data:/data/postgres
      - ./init-multi-db.sql:/docker-entrypoint-initdb.d/init.sql

    networks:
      - backend
    restart: unless-stopped

  pgadmin:
    image: dpage/pgadmin4
    container_name: pgadmin_container
    environment:
      PGADMIN_DEFAULT_EMAIL: pgadmin4@pgadmin.org
      PGADMIN_DEFAULT_PASSWORD: admin
      PGADMIN_CONFIG_SERVER_MODE: "False"
    ports:
      - "5050:80"
    volumes:
      - pgadmin_data:/var/lib/pgadmin
    networks:
      - backend
    restart: unless-stopped

  mongodb:
    image: mongo:7
    container_name: mongodb
    ports:
      - "27017:27017"
    networks:
      - backend
    restart: unless-stopped




  keycloak:
    container_name: keycloak
    image: quay.io/keycloak/keycloak:26.4.7
    mem_limit: 700m
    ports:
      - "8443:8080"
    environment:
      KC_BOOTSTRAP_ADMIN_USERNAME: admin
      KC_BOOTSTRAP_ADMIN_PASSWORD: admin
    command: [ "start-dev" ]
    networks:
      - backend

  zookeeper:
    container_name: zookeeper
    image: confluentinc/cp-zookeeper:7.5.0
    environment:
      ZOOKEEPER_CLIENT_PORT: 2181
      ZOOKEEPER_TICK_TIME: 2000

    ports:
      - "2181:2181"
    networks:
      - backend

  kafka:
    container_name: kafka
    image: confluentinc/cp-kafka:7.5.0
    environment:
      KAFKA_BROKER_ID: 1
      KAFKA_ZOOKEEPER_CONNECT: zookeeper:2181
      KAFKA_ADVERTISED_LISTENERS: PLAINTEXT://kafka:9092
      KAFKA_OFFSETS_TOPIC_REPLICATION_FACTOR: 1

    ports:
      - "9092:9092"

    depends_on:
      - zookeeper
    networks:
      - backend


  rabbitmq:
    image: rabbitmq:3.12-management
    container_name: rabbitmq
    ports:
      - "5672:5672"
      - "15672:15672"
    environment:
      RABBITMQ_DEFAULT_USER: guest
      RABBITMQ_DEFAULT_PASS: guest
    networks:
      - backend
    restart: unless-stopped

  config-server:
    build: ../../configserver
#    image: ecom/config-server
    container_name: config-server
    ports:
      - "8888:8888"
    environment:
      - SPRING_CLOUD_CONFIG_SERVER_NATIVE_SEARCH_LOCATIONS=/config
      - RABBITMQ_HOST=${RABBITMQ_HOST}
      - RABBITMQ_PORT=${RABBITMQ_PORT}
      - RABBITMQ_USER=${RABBITMQ_USER}
      - RABBITMQ_PASS=${RABBITMQ_PASS}
      - RABBITMQ_VHOST=${RABBITMQ_VHOST}

    volumes:
      - ./../../configserver/src/main/resources/config:/config
    networks:
      - backend

  eureka:
#    build: ../../eureka
    image: ecom/eureka
    container_name: eureka
    ports:
      - "8761:8761"
    networks:
      - backend
    healthcheck:
      test: ["CMD", "wget", "--spider", "http://localhost:8761/actuator/health"]
      interval: 10s
      timeout: 5s
      retries: 5

  gateway-service:
#    build: ../../gateway
    image: ecom/gateway
    container_name: gateway-service
#    mem_limit: 700m
    ports:
      - "8080:8080"
    environment:
      - SPRING_PROFILES_ACTIVE=docker

    depends_on:
      - rabbitmq
      - eureka
      - keycloak
      - config-server
    networks:
      - backend
    restart: on-failure

  user-service:
#    build: ../../user
    container_name: user-service
    image: ecom/user-service
#    mem_limit: 700m
#    ports:
#      - "8082:8082"
    environment:
      - SPRING_PROFILES_ACTIVE=docker
      - MONGO_URL=${MONGO_URL}
      - RABBITMQ_HOST=${RABBITMQ_HOST}
      - RABBITMQ_PORT=${RABBITMQ_PORT}
      - RABBITMQ_USER=${RABBITMQ_USER}
      - RABBITMQ_PASS=${RABBITMQ_PASS}
      - RABBITMQ_VHOST=${RABBITMQ_VHOST}

    depends_on:
      - rabbitmq
      - eureka
      - keycloak
      - config-server
    networks:
      - backend
    restart: on-failure

  product-service:
#    build: ../../product
    container_name: product-service
    image: ecom/product-service
#    mem_limit: 700m
#    ports:
#      - "8081:8081"
    environment:
      - SPRING_PROFILES_ACTIVE=docker
      - DB_USER=${DB_USER}
      - DB_PASSWORD=${DB_PASSWORD}
      - RABBITMQ_HOST=${RABBITMQ_HOST}
      - RABBITMQ_PORT=${RABBITMQ_PORT}
      - RABBITMQ_USER=${RABBITMQ_USER}
      - RABBITMQ_PASS=${RABBITMQ_PASS}
      - RABBITMQ_VHOST=${RABBITMQ_VHOST}

    depends_on:
      - postgres
      - rabbitmq
      - eureka
      - keycloak
      - config-server
    networks:
      - backend
    restart: on-failure

  order-service:
#    build: ../../order
    container_name: order-service
    image: ecom/order-service
#    mem_limit: 700m
#    ports:
#      - "8083:8083"
    environment:
      - SPRING_PROFILES_ACTIVE=docker
      - DB_USER=${DB_USER}
      - DB_PASSWORD=${DB_PASSWORD}
      - RABBITMQ_HOST=${RABBITMQ_HOST}
      - RABBITMQ_PORT=${RABBITMQ_PORT}
      - RABBITMQ_USER=${RABBITMQ_USER}
      - RABBITMQ_PASS=${RABBITMQ_PASS}
      - RABBITMQ_VHOST=${RABBITMQ_VHOST}

    depends_on:
      - postgres
      - rabbitmq
      - eureka
      - keycloak
      - config-server
    networks:
      - backend
    restart: on-failure



  notification-service:
    build: ../../notification
    container_name: notification-service
#    image: ecom/notification-service
    environment:
      - SPRING_PROFILES_ACTIVE=docker
    depends_on:
      - rabbitmq
      - eureka
      - keycloak
      - config-server
    networks:
      - backend
    restart: on-failure














networks:
  backend:
    driver: bridge

volumes:
  postgres_data:
  pgadmin_data:
