spring:
  application:
    name: configserver
  profiles:
    active: native
  rabbitmq:
    host: ${RABBITMQ_HOST:rabbitmq}
    port: ${RABBITMQ_PORT:5672}
    username: ${RABBITMQ_USER:guest}
    password: ${RABBITMQ_PASS:guest}
    virtual-host: ${RABBITMQ_VHOST:/}
    connection-timeout: 30000
  cloud:
    config:
      server:
        native:
          search-locations: classpath:/config

server:
  port: 8888

logging:
  level:
    org.springframework.amqp: DEBUG
    org.springframework.rabbit: DEBUG


management:
  endpoints:
    web:
      exposure:
        include: "*"